*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body{
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  background-color: #111;
  color: #fff;
}

/* Menambahkan ke style.css yang sudah ada */

/* Bola */
.moving-ball {
  width: 20px;
  height: 20px;
  background-color: #fff; 
  border-radius: 50%; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; 
}

/* Efek debu */
.dust {
  position: absolute;
  width: 8px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.5); /* Warna debu */
  border-radius: 50%;
  opacity: 0;
  animation: dustEffect 1s ease-out infinite;
  pointer-events: none; /* Agar debu tidak mengganggu interaksi */
}

@keyframes dustEffect {
  0% {
    transform: scale(0.5) translate(0, 0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1) translate(5px, -5px); /* Gerak debu */
    opacity: 0.8;
  }
  100% {
    transform: scale(0.5) translate(10px, -10px); /* Gerak debu lebih jauh */
    opacity: 0;
  }
}



.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
  max-width: 600px;
  margin: 120px auto 0 auto;
}

.share-button{
  display: flex;
  align-self: flex-end;
  color: #fff;
}

.share-icon{
  font-size: 32px;
  background-color: #222;
  padding: 12px;
  border-radius: 50%;
 
}

.img-container{
  height: 96px;
  width: 96px;
  margin-bottom: 12px;
}

h1{
  font-size: 20px;
  margin-bottom: 32px;
}

img{
  width: 100%;
  border-radius: 50%;
  background-size: cover;
  
}


.link-card{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
  margin-bottom: 24px;
}

.icons{
  font-size: 24px;
}